MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=your_key
MINIO_SECRET_KEY=your_secret
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold
KAGGLE_USERNAME=your_username
KAGGLE_KEY=your_key
UC_BASE_URL=http://localhost:8081
